.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #262626;
  border-bottom: 2px solid #da8b57;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* .logo {
  font-size: 36px;
  color: #da8b57;
  font-family: 'Segoe UI, Tahoma, Geneva, Verdana, sans-serif';
  font-weight: bold;
} */

.logo {
  font-size: 36px;
  color: #da8b57;
  font-family: 'Segoe UI, Tahoma, Geneva, Verdana, sans-serif';
  font-weight: bold;
  transition: transform 0.3s ease, color 0.3s ease;
}

.logo:hover {
  transform: scale(1.2) rotate(0deg);
  cursor:crosshair  ;
}

.actions {
  display: flex;
  align-items: center;
}

.solveButton {
  background-color: #363631;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-right: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.solveButton:hover {
  background-color: #5e5e5e;
}

.solveButton:active {
  background-color: #5e5e5e;
  transform: translateY(2px);
}

.userIcon {
  display: flex;
  align-items: center;
}

.iconImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #da8b57;
}