.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  margin: 2rem 10rem;
}

.container {
  width: 80vw; /* Adjust to fit your needs */
  max-width: 1200px; /* Adjust to fit your needs */
  height: 80vh; /* Adjust to fit your needs */
  background: #2b2b2b;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.contextButton {
  background-color: #da8b57;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.contextButton:hover {
  background-color: #5e5e5e;
}

.submitToggleButton {
  background: none;
  border: none;
  color: #da8b57;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.submitToggleButton:hover {
  color: #ff6600;
}

.submitButton {
  background-color: #ff6600;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  height: 4rem;
}

.submitButton:hover {
  background-color: #e55b00;
}

.submitButton:active {
  background-color: #cc5200;
  transform: translateY(2px);
}

.investigationForm {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #262626;
  padding: 10px;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.investigationInput::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* Handle */
.investigationInput::-webkit-scrollbar-thumb {
  background: #da8b57; /* Color of the scroll handle */
  border-radius: 12px; /* Match the border radius of the input */
  box-shadow: inset 0 0 10px #000000; /* Match the box shadow of the input */
}

.investigationInput {
  padding: 12px;
  font-size: 18px;
  width: 80%;
  border: 2px solid #da8b57;
  border-radius: 12px;
  margin-bottom: 10px;
  background: linear-gradient(145deg, #2a2a2a, #1a1a1a);
  color: #ffcc00;
  font-family: 'Lucida Console', Monaco, monospace;
  box-shadow: inset 0 0 10px #000000;
  transition: all 0.3s ease;
  height: 4rem;
  resize: none;
}

.investigationInput:focus {
  outline: none;
  border-color: #ffcc00;
  box-shadow: 0 0 15px #ffcc00;
  background: linear-gradient(145deg, #3b3b3b, #2a2a2a);
}

.investigationInput::placeholder {
  color: #da8b57;
  opacity: 0.8;
  text-align: center;
  padding-top: 0.8rem;
  font-size: 18px;
  font-style: italic;
  font-size: 1rem;
}

.investigationInput:hover {
  border-color: #e5b700;
}

.content {
  font-size: 16px;
  color: #da8b57;
  padding-bottom: 1rem;
  overflow-y: auto;
  max-height: calc(80vh - 150px); /* Adjust based on header and form height */
}

.author {
  font-weight: bold;
  color: #da8b57;
  padding-bottom: 0.5rem;
}

.image {
  font-size: 14px;
  color: #999;
  margin-top: 2rem;
  padding-bottom: 2rem;
  width: fit-content;
}

.threadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 5rem auto;
  padding: 20px;
  background: #1a1a1a;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  justify-content: center;
}

.threadHeader {
  width: 100%;
  background: #262626;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
}

.headerTitle {
  font-size: 32px;
  color: #da8b57;
  margin-bottom: 10px;
}

.headerDescription {
  font-size: 18px;
  color: #afac9f;
  max-width: 700px;
  margin: 0 auto;
  text-align: justify;
}

.threadContent {
  width: 100%;
}

.storyEntry {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background: #2b2b2b;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 8px;
  border: 2px solid #3a3a3a;
  color: #da8b57;
}

.author {
  font-weight: bold;
  color: #da8b57;
  padding-bottom: 0.5rem;
}

.imageButton {
  background-color: #363631;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.imageButton:hover {
  background-color: #5e5e5e;
}

.image {
  font-size: 14px;
  color: #999;
  margin-top: 2rem;
  padding-bottom: 2rem;
  width: fit-content;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  border: 1px solid #14130b; /* Border around the list */
  border-radius: 8px;
  padding: 20px;
  background: #070707; /* Light background for contrast */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0.8;
}

.list li {
  font-size: 18px;
  margin-bottom: 15px;
  color: #afac9f; /* Text color */
  position: relative;
  padding-left: 20px;
}

.list li::before {
  content: '•'; /* Bullet points */
  color: #ffffff; /* Bullet color */
  position: absolute;
  left: 0;
  font-size: 24px;
  line-height: 1.6;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.blinkingText {
  animation: blink 3s infinite;
}
