.threadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 5rem auto;
  padding: 20px;
  background: #1a1a1a;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  justify-content: center;
}

.threadHeader {
  width: 100%;
  background: #262626;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
}

.headerTitle {
  font-size: 32px;
  color: #da8b57;
  margin-bottom: 10px;
}

.headerDescription {
  font-size: 18px;
  color: #afac9f;
  max-width: 700px;
  margin: 0 auto;
  text-align: justify;
}

.threadContent {
  width: 100%;
}

.storyEntry {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background: #2b2b2b;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 8px;
  border: 2px solid #3a3a3a;
  color: #da8b57;
}

/* .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  } */



.author {
  font-weight: bold;
  color: #da8b57;
  padding-bottom: 0.5rem;
}

.imageButton {
  background-color: #363631;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.imageButton:hover {
  background-color: #5e5e5e;
}


.image {
  font-size: 14px;
  color: #999;
  margin-top: 2rem;
  padding-bottom: 2rem;
  width: fit-content;
}

.content {
  font-size: 16px;
  color: #da8b57;
  padding-bottom: 1rem;
}

.investigationForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  box-shadow: 0 -1px 5px rgba(121, 114, 114, 0.1);
  z-index: 1000;
}

.investigationInput {
  padding: 10px;
  font-size: 20px;
  width: 74vw;
  border: 1px solid #da8b57;
  border-radius: 8px;
  margin-bottom: 10px;
  background: #262626;
  color: #da8b57;
}

.investigationInput::placeholder{
  text-align: center;
  padding-top: 0.8rem;
}

.submitButton {
  background-color: #ff6600;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  width: 25vw;
  height: 6.5vh;
  font-size: 36px;
  font-weight: bolder;
  font-family: 'Cambria, Cochin, Georgia, Times, Times New Roman, serif';
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.submitButton:hover {
  background-color: #e55b00;
}

.submitButton:active {
  background-color: #cc5200;
  transform: translateY(2px);
}